stayl bo'yicha muamo bor cart__content bor shunga display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 15px; style berganman cart__cards bilan cart__card2 yonmayon qilish uchun style bergandim lekin cart__cards ichida cart__card yonma yon bo'b ketyapti shuni tagma tag turishi kerak shuni to'g'irlab ber 